name: test

on:
  push:

jobs:
  deploy:
    name: Test git-crypt-unlock
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Unlock secrets
        uses: sliteteam/github-action-git-crypt-unlock@1.3.0
        env:
          GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}

      - name: Load variables
        uses: lexisother/load-dotenv@v1.2.0
        with:
          filenames: SECRET
          mask: true

      # - name: Expose variables to GitHub Actions
      #   run: |
      #     eval "$(
      #       cat SECRETS | awk '!/^\s*#/' | awk '!/^\s*$/' | while IFS='' read -r line; do
      #         key=$(echo "$line" | cut -d '=' -f 1)
      #         value=$(echo "$line" | cut -d '=' -f 2-)
      #         # echo "echo \"::add-mask::$value\""
      #         echo "echo \"$key=\\\"$value\\\"\" >> \"$GITHUB_ENV\""
      #       done
      #     )"

      - name: Echo the variables
        run: |
          echo ${{ env.ONE }}
          echo ${{ env.TWO }}
          echo ${{ env.THREE }}
          echo ${{ env.FOUR }}
          echo ${{ env.FIVE }}
          echo ${{ env.SIX }}
          echo ${{ env.MULTILINE }}
