name: test

on:
  push:

jobs:
  deploy:
    name: Test git-crypt-unlock
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        project: [TEST_1, TEST_2, TEST_3]
    steps:
      - uses: actions/checkout@master

      - name: Unlock secrets
        uses: sliteteam/github-action-git-crypt-unlock@1.3.0
        env:
          GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}

      - name: Load variables
        uses: lexisother/load-dotenv@v1.2.0
        with:
          path: ".secrets"
          filenames: "${{ matrix.project }}.env"
          quiet: true
          mask: true

      # - name: Expose variables to GitHub Actions
      #   run: |
      #     eval "$(
      #       cat SECRETS | awk '!/^\s*#/' | awk '!/^\s*$/' | while IFS='' read -r line; do
      #         key=$(echo "$line" | cut -d '=' -f 1)
      #         value=$(echo "$line" | cut -d '=' -f 2-)
      #         # echo "echo \"::add-mask::$value\""
      #         echo "echo \"$key=\\\"$value\\\"\" >> \"$GITHUB_ENV\""
      #       done
      #     )"

      - name: Echo the variables
        run: |
          echo ${{ env.VAR_1 }}
          echo ${{ env.VAR_2 }}
          echo ${{ env.VAR_3 }}
